<div>
  <button (click)="onClose()">Dodaj użytkownika</button>
  <div class="table">
    <div class="tableBody">
      <div class="tableRow">
        <div class="tableCell">Imię</div>
        <div class="tableCell">Nazwisko</div>
        <div class="tableCell">Adres</div>
        <div class="tableCell">Telefon</div>
        <div class="tableCell"></div>
      </div>
      <div class="tableRow" *ngFor="let user of users; let i = index">
          <div class="tableCell">{{ users[i].firstname }}</div>
          <div class="tableCell">{{ users[i].lastname }}</div>
          <div class="tableCell">{{ users[i].adress }}</div>
          <div class="tableCell">{{ users[i].phone }}</div>
          <div class="tableCell"><button>X</button></div>
      </div>
    </div>
</div>
<div *ngIf="isClosed === false">
  <form #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
    <label for="firstname">Imię</label>
    <input type="text" name="firstname" id="firstname" ngModel><br>
    <label for="lastname">Nazwisko</label>
    <input type="text" name="lastname" id="lastname" ngModel><br>
    <label for="adress">Adres</label>
    <input type="text" name="adress" id="adress" ngModel><br>
    <label for="phone">Numer telefonu</label>
    <input type="text" name="phone" id="phone" ngModel><br>
    <button type="submit">Dodaj</button>
    <button (click)="onClose()">Anuluj</button>
  </form>
</div>
