<div class="table-container">
  <div>
    <button (click)="toggle('.popupBg')" class="add_user-button">Dodaj użytkownika</button>
    <div class="table">
      <div class="tableBody">
        <div class="tableHead">Użytkownicy</div>
        <div class="tableRow--odd">
          <div class="tableCell--head">Imię</div>
          <div class="tableCell--head">Nazwisko</div>
          <div class="tableCell--head">Adres</div>
          <div class="tableCell--head">Telefon</div>
          <div class="tableCell--head"></div>
        </div>
        <div [ngClass]="this.i % 2 == 0 ? 'tableRow--even' : 'tableRow--odd'" *ngFor="let user of users; let i = index">
            <div class="tableCell">{{ users[i].firstname }}</div>
            <div class="tableCell">{{ users[i].lastname }}</div>
            <div class="tableCell">{{ users[i].adress }}</div>
            <div class="tableCell">{{ users[i].phone }}</div>
            <div class="tableCell"><button (click)="onDelete(i)" class="delete-button">X</button></div>
        </div>
      </div>
  </div>
  <add-user-popup>
    <div class="add_user-container" onclick="event.stopPropagation()">
      <form #userEditForm="ngForm" (ngSubmit)="onAdd(userEditForm)">
        <label for="firstname" class="add_user-label">Imię</label><br>
        <input type="text" name="firstname" id="firstname" ngModel class="add_user-input"><br>
        <label for="lastname" class="add_user-label">Nazwisko</label><br>
        <input type="text" name="lastname" id="lastname" ngModel class="add_user-input"><br>
        <label for="adress" class="add_user-label">Adres</label><br>
        <input type="text" name="adress" id="adress" ngModel class="add_user-input"><br>
        <label for="phone" class="add_user-label">Numer telefonu</label><br>
        <input type="text" name="phone" id="phone" ngModel class="add_user-input"><br>
        <button type="submit" class="add_user-button--add" (click)="toggle('.popupBg')">Dodaj</button>
        <button type="button" class="add_user-button--clear" (click)="onClear(userEditForm)">Wyczyść</button>
        <button type="button" class="add_user-button--close" (click)="toggle('.popupBg')">Anuluj</button>
      </form>
    </div>
</add-user-popup>
</div>
