.table-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.table {
  display: flex;
  border: 1px solid #327a81;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 1px 0 1px #aecdd0;
  font-size: 20px;
}

.divTableBody {
  display: flex;
}

.tableRow {
  &--even {
    background: #ffffff;
    display: flex;
    border: 0px;
  }

  &--odd {
    background: #daeff1;
    display: flex;
  }

}

.tableCell {
  padding: 20px 20px;
  color: #5c7d88;
  font-weight: 500;
  flex: 1;

  &--head {
    padding: 5px 10px;
    color: #5c7d88;
    font-weight: 500;
    flex: 1;
  }

}

.tableHead {
  color: white;
  background: #327a81;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 4px 4px 0px 0px;
}

.delete-button {
  border: none;
  background: #b2dfe2;
  padding: 5px 10px;
  outline: none;
  &:active {
    background: #e2f7f8;
  }

  &:hover {
    cursor: pointer;
  }
}

.add_user-button {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #5c7d88;
  background: #b2dfe2;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px 5px 0px 0px;

  &:active {
    background: #cee7e9;
  }

  &:hover {
    cursor: pointer;
  }
}

.add_user-container {
  margin-top: 2px;
  background: #daeff1;
  border-radius: 4px;
  width: 190px;
  height: 240px;
  padding: 10px;
}

.add_user-input {
  margin-top: 5px;
  margin-left: 10px;
  outline: none;
  background: #fafcfc;
  border: 1px solid #c3d2d3;
  border-radius: 2px;
  height: 20px;
}

.add_user-label {
  font-size: 15px;
  margin-left: 12px;
}

.add_user-button {
  &--add {
    margin-left: 10px;
    margin-top: 8px;
    border: none;
    outline: none;
    background: #edf7f8;
    padding: 5px;

    &:active {
      background: #e2f7f8;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &--close {
    margin-left: 4px;
    margin-top: 8px;
    border: none;
    outline: none;
    background: #edf7f8;
    padding: 5px;

    &:active {
      background: #e2f7f8;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
