<div class="login-container">
  <div class="form-container">
    <h3 class="form-header">Login</h3>
    <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="form-element">
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          class="email-input"
        />
        <label for="email" class="email-label">E-mail (test@test.pl)</label>
      </div>

      <div class="form-element">
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="password-input"
        />
        <label for="password" class="password-label">Password (test123)</label>
      </div>

      <p
        class="wrong-auth-text"
        [ngStyle]="{ visibility: invalidAuthMessage ? 'visible' : 'hidden' }"
      >
        {{ invalidAuthMessage }}
      </p>

      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>
